.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
**/.DS_Store
*.vsix
.agentsmithy/**
.github/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.ts
node_modules/**/*.md
!node_modules/marked/**
eslint.config.mjs
.prettierignore
.prettierrc
esbuild.webview.mjs
src/webview/**
